[Unit]
Description=Kiosk Script
After=network.target


[Service]
ExecStart=/usr/bin/xvfb-run -a -s "-screen 0 1920x1080x24" /usr/bin/python3 /var/kiosk/Kiosk.py
WorkingDirectory=/var/kiosk
Restart=always
User=administrator

[Install]
WantedBy=default.target
