[Unit]
Description=Kiosk Script
After=network.target


[Service]
ExecStart=/usr/bin/python3 /var/kiosk/Kiosk.py
WorkingDirectory=/var/kiosk
Restart=always
User=administrator

[Install]
WantedBy=default.target
